# Google AI Studio
GOOGLE_API_KEY=AIzaSyB-DyGJz1qKxxrhjOhEPQ6TN2lGYnM2hVA
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GITHUB_PERSONAL_ACCESS_TOKEN=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
# Vertex AI (uncomment to use)
#GOOGLE_GENAI_USE_VERTEXAI=TRUE
#GOOGLE_CLOUD_PROJECT=<your-project-id>
#GOOGLE_CLOUD_LOCATION=<your-location>
#GITHUB_PERSONAL_ACCESS_TOKEN=<your-personal-access-token>
